/* body{
  margin: 0;
  padding: 0;
  width: 100%;
} */
.u-heigth100vh {
  height: 100vh;
  background-color: #eee;
  padding: 1em;
}

.messages{
  height: 530px;
  overflow-y: scroll;
}

.messageForm{
  position: fixed !important;
  bottom: 10px;
  left: 0;
  right: 10px;
  margin-left: 320px !important;
  z-index: 200;
}

.message_self{
  border-left: 2px solid orange;
  padding-left: 8px;
}

.message_image{
  padding: 1em;
}