/* body{
  margin: 0;
  padding: 0;
  width: 100%;
} */
.u-heigth100vh {
  height: 100vh;
}

.messages {
  height: 68vh;
  overflow-y: scroll;
}

/* .messageForm{
  position: fixed !important;
  bottom: 10px;
  left: 0;
  right: 10px;
  margin-left: 320px !important;
  z-index: 200;
} */

.message_self {
  border-left: 2px solid orange;
  padding-left: 8px;
}

.message_image {
  padding: 1em;
}

.progress_bar {
  margin: 0.3em 0 0 0 !important;
}
